<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TongGarden_GenerateShipment::generateship" title="Generate Shipment" module="TongGarden_GenerateShipment" sortOrder="100" action="generateship/index/index" resource="TongGarden_GenerateShipment::generateship" parent="Magento_Sales::sales_operation"/>
    </menu>
</config>